<?xml version="1.0" ?>
<launch>
  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="gui" value="$(arg gui)" />
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find akira_description)/urdf/akira.xacro" />

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model akira -param robot_description" />

</launch>
