<?xml version="1.0" ?>
<launch>
  <!-- $ rosrun nodelet nodelet manager __name:=akira_recog_obj_nodelet -->
  <node pkg="nodelet" type="nodelet" name="akira_recog_obj_nodelet" args="manager" output="screen" >
    <param name="num_worker_threads" value="2" />
  </node>
    
  <!-- $ rosrun nodelet nodelet load akira_recog_obj/recogObjMainClass akira_recog_obj_nodelet __name:=main -->
  <node pkg="nodelet" type="nodelet" name="detector" args="load akira_recog_obj/detectTableClass akira_recog_obj_nodelet" output="screen" />
  <node pkg="nodelet" type="nodelet" name="clustor" args="load akira_recog_obj/clusteringCloudsClass akira_recog_obj_nodelet" output="screen" />
</launch>
