<?xml version="1.0" ?>
<launch>
  <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node" />
  <node pkg="tf" type="static_transform_publisher" name="scan2link" args="1 0 0 0 0 0 1 laser base_link 100" />
  <node pkg="tf" type="static_transform_publisher" name="link2odom" args="1 0 0 0 0 0 1 base_link odom 100" />
  <node pkg="tf" type="static_transform_publisher" name="map2link" args="1 0 0 0 0 0 1 map laser 100" />

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" />
</launch>
