<?xml version="1.0"?>
<robot name="torso" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Define a number of dimensions using properties -->
  
  <xacro:property name="torso_size_x" value="0.29" />
  <xacro:property name="torso_size_y" value="0.46" />
  <xacro:property name="torso_size_z" value="0.77" />
  
  <xacro:property name="TORSO_MESH_SCALE" value="1.0" />
  
  <!-- Define the torso -->
  <xacro:macro name="torso" params="parent name color *origin">
    <joint name="${parent}_${name}_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}_link"/>
      <child link="${name}_link"/>
    </joint>
    
    <link name="${name}_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <!--mesh filename="package://akira_description/meshes/akira_torso.stl" scale="${TORSO_MESH_SCALE} ${TORSO_MESH_SCALE} ${TORSO_MESH_SCALE}" /-->
          <box size="${torso_size_x} ${torso_size_y} ${torso_size_z}" />
        </geometry>
        <material name="${color}" />
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <!--box size="${torso_size_x} ${torso_size_y} ${torso_size_z}" /-->
	  <!-- !!! 2014.12.15 modified for debug !!! -->
	  <box size="0.2 0.2 0.2" />
        </geometry>
      </collision>
      </link>
    </xacro:macro>
</robot>

