<?xml version="1.0" ?>
<launch>
  
  <!-- Load the URDF/Xacro model of our robot -->
  <!-- param name="robot_description" textfile="$(find akira_description)/urdf/akira.urdf" /-->
  <arg name="urdf_file" default="$(find xacro)/xacro.py --inorder ~/catkin_ws/src/my_graduation_research/akira_description/urdf/akira.xacro" /> 
  
  <!-- Publish the robot state -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <param name="publish_frequency" value="20.0"/>
  </node>
  
  <!-- Provide simulated control of the robot joint angles -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="True" />
    <param name="rate" value="20.0"/>
  </node>
  
  <!--node name="rviz" pkg="rviz" type="rviz"-->
</launch>
